mastodon-comments {
    --font-color: #5d686f;
    --font-size: 1.0rem;
  
    --block-border-width: 1px;
    --block-border-radius: 3px;
    --block-border-color: #ededf0;
    --block-background-color: #f7f8f8;
  
    --comment-indent: 40px;
  }